:root {
    --first-color: white;
    --secondary-color:  #f9f7fe;
    --third-color: #b3afc0;
    --fourth-color: black;
    --fifth-color: pink;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
    background: #d3d1db;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.wrapper {
    background-image: url(/images/lines.jpg);
    text-align: center;
    padding: 160px 10px;
}

.wrapper p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.wrapper h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;  
    line-height: 1.5; 
}

.project-block {
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 16px;
}

.btn-branding {
    background: var(--first-color);
    color: var(--fourth-color);
    border-radius: 30px;
    box-shadow: #dfe1e2 0 -12px 6px inset;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    transition: all 200ms ease-in-out;
}

.btn-branding:hover {
   background: var(--fifth-color); 
   box-shadow: none;
   transform: scale(1.1);
   border: 1px solid var(--third-color);
}

.project-description {
    padding: 120px 60px;
}

.myphoto {
    border-radius: 300px;
    max-width: 400px;
    border: 6px solid var(--third-color);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

.screen {
    border-radius: 16px;
}

@media (max-width: 960px) {
    h1 {
        font-size: 41px;
        line-height: 2;
    }
    h2 {
        font-size: 35px;
    }
        .project-description{
padding: 0;
text-align: center;
    }
    .wrapper {
        padding: 80px 20px;
    }
    .wrapper p {
        font-size: 30px;
    }
}